.details-page {
    background-color: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    background-image: url("/assets/All\ Images/Vector.png");
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
}

.details-bg {
    background-image: url("/assets/All\ Images/Vector-1.png");
    background-repeat: no-repeat;
    background-position: right;
}

.details-background {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
}

/* ------- */

.image{
    width: 150px;
height: 150px;
background: #F4F4F4;
border-radius: 8px;
}